html{
    margin: 0;
    padding: 0;
    /* background-color: var(--prrimary-color); */
    --prrimary-color: #f7f9fb;
    --secondary-color: #212121;
}
body{
    max-width: 100%;
    overflow-x:hidden;
    margin: 0;
    padding: 0;
    --prrimary-color: #f7f9fb;
    --secondary-color: #212121;
    /* background-color: black; */
}
/* :root{
    --prrimary-color: #f7f9fb;
    --secondary-color: #212121;
} */
.dark-theme{
    --prrimary-color:#212121;
    --secondary-color:#f7f9fb;
}
.main{
    min-height: 100vh;
}
.header{
padding-bottom: 70px;
}
.header button {
    color: rgb(218, 63, 63);
    border: solid 2px rgb(218, 63, 63);
}
.navbar{
    color: var(--secondary-color);
    background-color: var(--prrimary-color);
}
 /* for coupon */
 #coupon{
    position: fixed;
    top: 200px;
    left: 20%;
     height: 100vh;  
     width: 100%; 
    /* margin: auto; */
    z-index: 100;
    opacity: 1;
 }
 .popup button{
    position: absolute;
    margin: auto;
    color: var(--secondary-color);
    background-color: var(--prrimary-color);
    height: 30px;
    margin-left: -26px;
 }
 @media screen and (max-width:900px) {
    #coupon{
        left: 10%;
    }
 }
 @media screen and (max-width:800px) {
    #coupon{
        left: 0%;
    }
 }


.brandname{
    font-family:serif;
    text-align: center;
    /* color:rgb(11, 11, 12); */
    line-height: 2px;
    margin:0 18%  0 2% ;
} 
.navbar-nav{
    margin: 0 20% 0 0 ;
    line-height: 5px;
}

.nav-item a{
    color: var(--secondary-color);
}

.navtext{
    color:var(--secondary-color);
    text-decoration: none;
}
.icons{
    font-size: large;
    color: var(--secondary-color);
}
#mode{
   padding-right: 20px;
   text-decoration: none;
   /* color: #0e0d0d; */
}
.icons button{
    border: none;
    color: var(--secondary-color);
    background-color: var(--prrimary-color);
    padding: 0;
}
.cart{
 } 
.signup{
    margin: 0 20px 0 20px;
    /* color:#0e0d0d; */
}
.login{
    /* color:#0e0d0d; */
}


.search{
    position: relative;
    padding-top: auto;
    background-color: var(--prrimary-color);
    background-image: url("img/searchbkg.jpg");
    background-position: center;
    background-size: cover;
    height: 30%;
    margin-top: auto;
    /* padding-bottom:10px; */
    width: 100%;
}
#cartypes{
    float: left;
    height: 30px;
    width : 18%;
    margin-top:50px;
    margin-left: 20px;
    color: var(--secondary-color);
    background-color: var(--prrimary-color);
}
#location{
    float:left;
    height: 30px;
    width : 18%;
    margin-top:50px;
    margin-left: 22%;
    color: var(--secondary-color);
    background-color: var(--prrimary-color);
}

.date{
    float: right;
    height: 30px;
    width : 18%;
    margin-top:50px;
    margin-right: 20px;
    color: var(--secondary-color);
    background-color: var(--prrimary-color);

}

.startingpoint{
    height: 30px;
    width : 18%;
    margin-top:150px;
    margin-left: -58%;
    color: var(--secondary-color);
    background-color: var(--prrimary-color);
}

.destination{
    height: 30px;
    width : 18%;
    margin-top:150px;
    margin-left: 21%; 
    color: var(--secondary-color);
    background-color: var(--prrimary-color);
}

.quicksearchtxt h5{
    position: relative;
    /* margin: 20px; */
    color: var(--secondary-color);
    background-color: var(--prrimary-color);
    font:serif bold;
    padding: 30px;
    margin: auto;
} 

.quicksearch{
    position: relative;
    margin: 0;
    border: 5px solid var(--primary-color)  ; 
    /* padding-bottom: 400px; */
    margin-bottom: 60px;
    /* background-image:url(img/background\ img.jpg); */
     height:444px;
     /* padding-inline: 0%; */
     background-position: center;
     background-size: cover;
     background-color: var(--prrimary-color);
}


.nameis{
    color:var(--secondary-color);
    background-color: var(--prrimary-color);
    font-style: italic;
    font-weight: bolder;
    font-size: 25px;
}
.d-blocK{
    float: left;
    height:410px;
    width:100%;
    object-fit:fill;
}
.carousel-item button{
    color: var(--secondary-color);  
    font-weight: bold;
}
/* .carousel-caption{
    color: rgb(206, 9, 9);
    text-align: center;
} */
/* .carousel slide{
    height: 300px;
    width: 400px;
} */
/* .coloum{
    float: left;
    height: 300px;
    width:300px;
    /* background-color:rgb(104, 152, 118) ; 
    margin-bottom: 10px;
}
.car{
    float: left;
    height: 200px;
    width: 269px;
    margin-left:5px;
}
.carname{
    float:left;
    margin: 115px;
    text-shadow: 1px 1px rgb(8, 8, 46);
    margin-bottom: 20px; 
    margin-left: 110px;
} */


.footer{
    position: fixed;
    height:60px;
    /* border:groove 5px rgb(15, 120, 48) ; */
    margin-top: -10px;
    background-color: var(--prrimary-color);
    color: var(--secondary-color);
    text-align: center;
    width: 100%;
    bottom: 0px; 
    left:0px; 
    z-index: 1;
    opacity: 1;
}
.contact{

    float:left;
    margin-top: -0px;
    border-right: solid 2px var(--secondary-color);
    width: 25%;
    padding: 2%;
}
.social{
    height:30px;
    margin:1% ;
    width: 2%; 
    color: var(--secondary-color);
}
.copyright{
    float:right;
    margin-right: 14%;
    margin-top: -0px;
    border-left: solid 2px var(--secondary-color);
    width: 29%;
    padding: 2%;
}